name: CMake

on: [push]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release


jobs:
  job:
    name: ${{ matrix.os }}-hosted-basic
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: windows-latest
            triplet: x64-windows
            artifact: pamplemousse.exe
          - os: ubuntu-latest
            triplet: x64-linux
            artifact: pamplemousse
          - os: macos-latest
            triplet: x64-osx
            artifact: pamplemousse

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true
      - name: Get CMake
        uses: lukka/get-cmake@latest
      - name: Install Deps (Mac)
        if: startsWith(matrix.os, 'macos')
        run: brew install automake gperf
      - name: Install Deps (Linux)
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt-get install libx11-dev libgl1-mesa-dev libxi-dev libxext-dev gperf autopoint
      # Cache/Restore the vcpkg's build artifacts using a vcpkg.json manifest.
      - name: Run vcpkg
        uses: lukka/run-vcpkg@v6
        with:
          # Just install vcpkg for now, do not install any ports in this step yet.
          setupOnly: true
          # Location of the vcpkg as submodule of the repository.
          vcpkgDirectory: '${{ github.workspace }}/vcpkg'
          # Since the cache must be invalidated when content of the vcpkg.json file changes, let's
          # compute its hash and append this to the computed cache's key.
          appendedCacheKey: ${{ hashFiles( '**/vcpkg.json' ) }}
          vcpkgTriplet: ${{ matrix.triplet }}
          # Ensure the vcpkg artifacts are cached, they are generated in the 'CMAKE_BINARY_DIR/vcpkg_installed'.
          additionalCachedPaths: ${{ env.buildDir }}/vcpkg_installed
      - name: 'Run CMake with Ninja, install dependencies with vcpkg, build with CMake'
        uses: lukka/run-cmake@v3
        with:
          cmakeGenerator: 'Ninja'  
          cmakeListsOrSettingsJson: 'CMakeListsTxtBasic'
          cmakeListsTxtPath: '${{ github.workspace }}/CMakeLists.txt'
          useVcpkgToolchainFile: true
          vcpkgTriplet: ${{ steps.runvcpkg.outputs.RUNVCPKG_VCPKG_TRIPLET_OUT }}
          buildDirectory: '${{github.workspace}}/build'
      - if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: error-${{ matrix.triplet }}
          path: '${{ github.workspace }}/vcpkg/buildtrees/qt5-declarative\package-build-x64-${{ matrix.triplet }}-err.log'
      - if: ${{ failure() }}
        uses: actions/upload-artifact@v2
        with:
          name: error-${{ matrix.triplet }}
          path: '${{ github.workspace }}/vcpkg/buildtrees/angle/install-${{ matrix.triplet }}-out.log'
      - uses: actions/upload-artifact@v2
        with:
          name: pamplemousse-${{ matrix.triplet }}
          path: '${{github.workspace}}/build/${{matrix.artifact}}'
