name: CMake

on: [push]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release


jobs:
  job:
    name: ${{ matrix.os }}-hosted-basic
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
       # os: [ubuntu-latest, macos-latest, windows-latest]
        os: [ubuntu-latest]
        include:
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
            triplet: x64-windows
            artifact: pamplemousse.exe
          - os: ubuntu-latest
            triplet: x64-linux
            c_compiler: gcc
            cpp_compiler: g++
            artifact: pamplemousse
          - os: macos-latest
            triplet: arm64-osx
            artifact: pamplemousse

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Get CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: 3.31.7
      - name: Install Deps (Mac)
        if: startsWith(matrix.os, 'macos')
        run: brew install automake gperf libtool python
      - name: Select SDK (Mac)
        if: startsWith(matrix.os, 'macos')
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Install Deps (Linux)
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt-get install gperf autopoint
      # Cache/Restore the vcpkg's build artifacts using a vcpkg.json manifest.
      - name: Run vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          # Just install vcpkg for now, do not install any ports in this step yet.
          setupOnly: true
          # Since the cache must be invalidated when content of the vcpkg.json file changes, let's
          # compute its hash and append this to the computed cache's key.
          appendedCacheKey: ${{ hashFiles( '**/vcpkg.json' ) }}
          vcpkgTriplet: ${{ matrix.triplet }}
          # Ensure the vcpkg artifacts are cached, they are generated in the 'CMAKE_BINARY_DIR/vcpkg_installed'.
          additionalCachedPaths: ${{ env.buildDir }}/vcpkg_installed
      - name: 'Run CMake with Ninja, install dependencies with vcpkg, build with CMake'
        uses: lukka/run-cmake@v10
        with:
          cmakeGenerator: 'Ninja' 
          configurePreset: 'ninja-multi-vcpkg'
          buildPreset: 'ninja-vcpkg-release'
          cmakeListsOrSettingsJson: 'CMakeListsTxtBasic'
          cmakeListsTxtPath: '${{ github.workspace }}/CMakeLists.txt'
          useVcpkgToolchainFile: true
          vcpkgTriplet: ${{ steps.runvcpkg.outputs.RUNVCPKG_VCPKG_TRIPLET_OUT }}
          buildDirectory: '${{github.workspace}}/build'
      - uses: actions/upload-artifact@v4
        with:
          name: pamplemousse-${{ matrix.triplet }}
          path: |
            **/${{matrix.artifact}}
      - name: rename outputs
        uses: nearform-actions/github-action-copy-files@v1.2
        with:
          source: builds/ninja-multi-vcpkg/Release/${{ matrix.artifact }}
          destination: builds/ninja-multi-vcpkg/Release/${{ matrix.triplet }}
          options: |
            {
              "overwrite": true,
              "flat": true
            }
      - name: List all files recursively in the repository linux
        if: startsWith(matrix.os, 'ubuntu')
        run: pwd ; find .
      - name: List all files recursively in the repository macos
        if: startsWith(matrix.os, 'macos')
        run: pwd ; find .
      - name: List all files recursively in the repository windows
        if: startsWith(matrix.os, 'windows')
        run: Get-ChildItem -Recurse
      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: builds/ninja-multi-vcpkg/Release/${{ matrix.triplet }}
